/* the zaphod is what got me down to my "standard keymap" so no need for
 * a matrix transform or any other funny business here!
 */
#include "standard-keymap.dtsi"

&kscan_left {
    debounce-press-ms = <10>;
    debounce-release-ms = <10>;
};

&kscan_right {
    debounce-press-ms = <10>;
    debounce-release-ms = <10>;
};
